.DS_Store
.prefect/
.prefectignore
.pylintrc
module-2/.ipynb_checkpoints/
models/
mlflow.db
mlruns/
module-2/.ipynb_checkpoints/
module-3/.DS_Store
module-3/mlruns/
module-3/module-py-scripts/__pycache__/
module-4/batch/.ipynb_checkpoints/score_homework-checkpoint.ipynb
module-4/batch/.ipynb_checkpoints/starter-checkpoint.ipynb
module-4/batch/__pycache__/
module-4/batch/score_homework.ipynb
module-4/batch/starter.ipynb
module-4/web-service/__pycache__/
module-5/.ipynb_checkpoints/
module-4/batch/score.ipynb
mlflow.db
module-4/batch/.ipynb_checkpoints/score-checkpoint.ipynb
__pycache__
module-6/infrastructure/.terraform/
module-6/infrastructure/.terraform.lock.hcl
